vpc_id = "vpc-0d4c8693eee4a7f82"
aws_region = "cn-north-1"
lb_sg_name = "lly-nw-com-imeeting-alb-q-sg-01"
app_sg_name = "lly-nw-com-imeeting-lambda-q-sg-01"
ecs_sg_name = "lly-nw-com-imeeting-ecs-q-sg-01"
rds_sg_name = "lly-nw-com-imeeting-rds-q-sg-01"
redis_sg_name = "lly-nw-com-imeeting-redis-q-sg-01"
glue_sg_name = "lly-nw-com-imeeting-glue-q-sg-01"
ApplName = "iMeeting - China meeting risk management system"
AdminTeam = "GISS"
ApplicationCi = "CI00000088669527"
PrimaryItContact = "cn_it_infra_cloud_ops@lists.lilly.com"
SNOWRequestId = ""
SystemOwner = "wang_li_jun_olivia@lilly.com"
SystemCustodian = "liu_yi16@lilly.com"
CostCenter = "5205061"
MLPS = "No"
Environment = "QA"
BusinessArea = "Commercial"
Level1BusinessArea = "IBU"
